# Database
DATABASE_URL="postgresql://..."

# Better Auth
BETTER_AUTH_SECRET="your-secret-here"
ADMIN_AUTH_URL="http://localhost:3001"
BETTER_AUTH_WEB_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3001"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."

# Config
NEXT_PUBLIC_WEB_URL="http://localhost:3000"